## DOWNLOAD DATA HICHERICAL FORECASTING - NIXTLA EXAMPLE
- Data para desarrollar forecasting j]erarquíco - reconciliación de forecasts
- Descargar dataset ejemplo nixtla para forecasting jerárquico - reconciliación de forecasts

links interés
- https://nixtlaverse.nixtla.io/hierarchicalforecast/index.html

### 0. Install nixtla package

In [1]:
# pip install hierarchicalforecast
# pip install datasetsforecast
# pip install statsforecast

In [2]:
import hierarchicalforecast
from datasetsforecast.hierarchical import HierarchicalData
import pandas as pd

### 1. descargar data Tourism Data - small dataset
link example nixtla: https://nixtlaverse.nixtla.io/hierarchicalforecast/index.html

#### 1.1 download data

In [3]:
# Load TourismSmall dataset
Y_df, S, tags = HierarchicalData.load('./data', 'TourismSmall')
Y_df['ds'] = pd.to_datetime(Y_df['ds'])
S = S.reset_index(names="unique_id")

#### 1.2 fast eda - data time series

In [4]:
Y_df.head()

  unique_id         ds      y
0     total 1998-03-31  84503
1     total 1998-06-30  65312
2     total 1998-09-30  72753
3     total 1998-12-31  70880
4     total 1999-03-31  86893

In [5]:
Y_df.tail()

           unique_id         ds    y
3199  nt-oth-noncity 2005-12-31   59
3200  nt-oth-noncity 2006-03-31   25
3201  nt-oth-noncity 2006-06-30   52
3202  nt-oth-noncity 2006-09-30   72
3203  nt-oth-noncity 2006-12-31  138

In [6]:
# shape data
Y_df.shape

(3204, 3)

In [7]:
# number unique series
Y_df['unique_id'].unique().shape

(89,)

In [8]:
# min y max date in data
min_date_small_tourism = Y_df['ds'].min().strftime('%Y-%m-%d')
max_date_small_tourism = Y_df['ds'].max().strftime('%Y-%m-%d')
print('min_date: ', min_date_small_tourism)
print('max_date: ', max_date_small_tourism)

min_date:  1998-03-31
max_date:  2006-12-31

#### 1.3 fast eda - matriz S

In [9]:
S.head()

,unique_id,nsw-hol-city,nsw-hol-noncity,vic-hol-city,vic-hol-noncity,qld-hol-city,qld-hol-noncity,sa-hol-city,sa-hol-noncity,wa-hol-city,...,qld-oth-city,qld-oth-noncity,sa-oth-city,sa-oth-noncity,wa-oth-city,wa-oth-noncity,tas-oth-city,tas-oth-noncity,nt-oth-city,nt-oth-noncity
0,total,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,hol,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,vfr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,oth,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [10]:
S.shape

(89, 57)

#### 1.4 fast eda - tags

In [11]:
tags

{'Country': array(['total'], dtype=object),
 'Country/Purpose': array(['hol', 'vfr', 'bus', 'oth'], dtype=object),
 'Country/Purpose/State': array(['nsw-hol', 'vic-hol', 'qld-hol', 'sa-hol', 'wa-hol', 'tas-hol',
        'nt-hol', 'nsw-vfr', 'vic-vfr', 'qld-vfr', 'sa-vfr', 'wa-vfr',
        'tas-vfr', 'nt-vfr', 'nsw-bus', 'vic-bus', 'qld-bus', 'sa-bus',
        'wa-bus', 'tas-bus', 'nt-bus', 'nsw-oth', 'vic-oth', 'qld-oth',
        'sa-oth', 'wa-oth', 'tas-oth', 'nt-oth'], dtype=object),
 'Country/Purpose/State/CityNonCity': array(['nsw-hol-city', 'nsw-hol-noncity', 'vic-hol-city',
        'vic-hol-noncity', 'qld-hol-city', 'qld-hol-noncity',
        'sa-hol-city', 'sa-hol-noncity', 'wa-hol-city', 'wa-hol-noncity',
        'tas-hol-city', 'tas-hol-noncity', 'nt-hol-city', 'nt-hol-noncity',
        'nsw-vfr-city', 'nsw-vfr-noncity', 'vic-vfr-city',
        'vic-vfr-noncity', 'qld-vfr-city', 'qld-vfr-noncity',
        'sa-vfr-city', 'sa-vfr-noncity', 'wa-vfr-city', 'wa-vfr-noncity',
        'tas-vfr-city', 'tas-vfr-noncity', 'nt-vfr-city', 'nt-vfr-noncity',
        'nsw-bus-city', 'nsw-bus-noncity', 'vic-bus-city',
        'vic-bus-noncity', 'qld-bus-city', 'qld-bus-noncity',
        'sa-bus-city', 'sa-bus-noncity', 'wa-bus-city', 'wa-bus-noncity',
        'tas-bus-city', 'tas-bus-noncity', 'nt-bus-city', 'nt-bus-noncity',
        'nsw-oth-city', 'nsw-oth-noncity', 'vic-oth-city',
        'vic-oth-noncity', 'qld-oth-city', 'qld-oth-noncity',
        'sa-oth-city', 'sa-oth-noncity', 'wa-oth-city', 'wa-oth-noncity',
        'tas-oth-city', 'tas-oth-noncity', 'nt-oth-city', 'nt-oth-noncity'],
       dtype=object)}

In [12]:
tags.keys()

dict_keys(['Country', 'Country/Purpose', 'Country/Purpose/State', 'Country/Purpose/State/CityNonCity'])

### 2. Descargar data TourismData - FULL dataset
**link example nixtla tourism data - geographical agregation:** https://nixtlaverse.nixtla.io/hierarchicalforecast/examples/australiandomestictourism.html

**link example nixtla tourism data - geographical agregation - temporal agregation:**
https://nixtlaverse.nixtla.io/hierarchicalforecast/examples/australiandomestictourismcrosstemporal.html

**link example hyndman:** https://robjhyndman.com/seminars/fr_overview.html

#### 2.1 download data example hyndman

In [13]:
# download data and get format
Y_df = pd.read_csv('https://raw.githubusercontent.com/Nixtla/transfer-learning-time-series/main/datasets/tourism.csv')
Y_df = Y_df.rename({'Trips': 'y', 'Quarter': 'ds'}, axis=1)
Y_df.insert(0, 'Country', 'Australia')
Y_df = Y_df[['Country', 'Region', 'State', 'Purpose', 'ds', 'y']]
Y_df['ds'] = Y_df['ds'].str.replace(r'(\d+) (Q\d)', r'\1-\2', regex=True)
Y_df['ds'] = pd.PeriodIndex(Y_df["ds"], freq='Q').to_timestamp()

In [14]:
# save in folder data
Y_df.to_parquet('data/hierarchical/Tourism_hyndman/data.csv')

#### 2.2 fast eda data

In [15]:
Y_df.head()

     Country    Region            State   Purpose         ds           y
0  Australia  Adelaide  South Australia  Business 1998-01-01  135.077690
1  Australia  Adelaide  South Australia  Business 1998-04-01  109.987316
2  Australia  Adelaide  South Australia  Business 1998-07-01  166.034687
3  Australia  Adelaide  South Australia  Business 1998-10-01  127.160464
4  Australia  Adelaide  South Australia  Business 1999-01-01  137.448533

In [16]:
Y_df.tail()

,Country,Region,State,Purpose,ds,y
24315,Australia,Yorke Peninsula,South Australia,Visiting,2016-10-01,33.672151
24316,Australia,Yorke Peninsula,South Australia,Visiting,2017-01-01,46.223014
24317,Australia,Yorke Peninsula,South Australia,Visiting,2017-04-01,50.582837
24318,Australia,Yorke Peninsula,South Australia,Visiting,2017-07-01,27.766728
24319,Australia,Yorke Peninsula,South Australia,Visiting,2017-10-01,46.281578

In [17]:
Y_df.shape

(24320, 6)

In [18]:
# number of differents combinations
unique_country = Y_df['Country'].unique().shape
unique_region = Y_df['Region'].unique().shape
unique_state = Y_df['State'].unique().shape
unique_purpose = Y_df['Purpose'].unique().shape
print('number unique_country: ', unique_country)
print('number unique_region: ', unique_region)
print('number unique_state: ', unique_state)
print('number unique_purpose: ', unique_purpose)

number unique_country:  (1,)
number unique_region:  (76,)
number unique_state:  (8,)
number unique_purpose:  (4,)

In [19]:
# number unique series (generate unique combinations)
Y_df['unique_id'] = Y_df['Country'] + '-' + Y_df['Region'] + '-' + Y_df['State'] + '-' + Y_df['Purpose']
Y_df['unique_id'].unique().shape

(304,)

In [20]:
# min y max date in data
min_date_full_tourism = Y_df['ds'].min().strftime('%Y-%m-%d')
max_date_full_tourism = Y_df['ds'].max().strftime('%Y-%m-%d')
print('min_date: ', min_date_full_tourism)
print('max_date: ', max_date_full_tourism)

min_date:  1998-01-01
max_date:  2017-10-01