# DISCOVERY EDA BASIC
- Revisar fechas de inicio y fin de los datos. Revisar granularidad de las series y de las variables exógenas
- Revisar cantidad de series
- Revisar columnas en cada conjunto de datos
- Hacer una idea global de las series existentes y variables exógenas existentes

In [1]:
import os
# set path root of repo
actual_path = os.path.abspath(os.getcwd())
list_root_path = actual_path.split('/')[:-1]
root_path = '/'.join(list_root_path)
os.chdir(root_path)
print('root path: ', root_path)

root path:  /Users/joseortega/Documents/GitHub/forecasting-m5-dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 1. Read raw files

In [3]:
# path_raw_data = 'data/data_input_raw/'
# original_cal = pd.read_csv(path_raw_data + 'calendar.csv')
# original_sales = pd.read_csv(path_raw_data + 'sales_train_evaluation.csv')
# original_price = pd.read_csv(path_raw_data + 'sell_prices.csv')

# original_cal['d'].max() # revisar si en el dataframe original sigue reconociendo mal el máximo valor en el contador de días en formato string

In [30]:
folder_data_raw_dtype = 'data/data_input_dtype/'

df_calender = pd.read_pickle(folder_data_raw_dtype + 'calendar.pkl')
df_prices = pd.read_pickle(folder_data_raw_dtype + 'sell_prices.pkl')
df_sales = pd.read_pickle(folder_data_raw_dtype + 'sales_train_evaluation.pkl')
df_sample_output = pd.read_pickle(folder_data_raw_dtype + 'sample_submission.pkl')

In [31]:
df_calender.head()

,date,wm_yr_wk,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,d_1,nan,nan,nan,nan,0,0,0
1,2011-01-30,11101,d_2,nan,nan,nan,nan,0,0,0
2,2011-01-31,11101,d_3,nan,nan,nan,nan,0,0,0
3,2011-02-01,11101,d_4,nan,nan,nan,nan,1,1,0
4,2011-02-02,11101,d_5,nan,nan,nan,nan,1,0,1

In [6]:
df_prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [7]:
df_sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

### 2. Revisar fechas de inicio y fin de cada data

In [8]:
# calender (están los días en formato datetime // en formato day d_1, d_2, d_3 // en formato semana)
# dias formato datetime
start_datetime_calender = df_calender['date'].min()
end_datetime_calender = df_calender['date'].max()
shape_datetime_calender = df_calender['date'].unique().shape[0]

# dias formato categories (generar columna integer para calcular)
# df_calender['d'].cat.categories.min()
df_calender['d_integer'] = df_calender['d'].str.extract(r'(\d+)', expand=False).astype(int)

start_date_code_calender = df_calender['d_integer'].min()
end_date_code_calender = df_calender['d_integer'].max()
shape_date_code_calender = df_calender['d_integer'].shape[0]

# semana y año correspondiente a ese dia
start_week_calender = df_calender['wm_yr_wk'].min()
end_week_calender = df_calender['wm_yr_wk'].max()
shape_week_calender = df_calender['wm_yr_wk'].unique().shape[0]


print('start_datetime_calender: ', start_datetime_calender)
print('end_datetime_calender: ', end_datetime_calender)
print('shape_datetime_calender: ', shape_datetime_calender)

print('\n')
print('start_date_code_calender: ', start_date_code_calender)
print('end_date_code_calender: ', end_date_code_calender)
print('shape_date_code_calender: ', shape_date_code_calender)

print('\n')
print('start_week_calender: ', start_week_calender)
print('end_week_calender: ', end_week_calender)
print('shape_week_calender: ', shape_week_calender)

start_datetime_calender:  2011-01-29 00:00:00
end_datetime_calender:  2016-06-19 00:00:00
shape_datetime_calender:  1969


start_date_code_calender:  1
end_date_code_calender:  1969
shape_date_code_calender:  1969


start_week_calender:  11101
end_week_calender:  11621
shape_week_calender:  282

In [9]:
# prices (los precios solo se guarda información a nivel semanal) (ESTÁ INTERESANTE TENGO QUE USAR INFO DE DIFERENTE GRANULARIDAD)
# usar variables exógenas de una granularidad mayor (fcst diario / info exógena semanal)

start_week_prices = df_prices['wm_yr_wk'].min()
end_week_prices = df_prices['wm_yr_wk'].max()
shape_week_prices = df_prices['wm_yr_wk'].unique().shape[0]

print('start_week_prices: ', start_week_prices)
print('end_week_prices: ', end_week_prices)
print('shape_week_prices: ', shape_week_prices)

start_week_prices:  11101
end_week_prices:  11621
shape_week_prices:  282

In [10]:
# sales (df sales tiene las fechas como columnas)(además de otras columnas informativas)
df_sales.head(3)


start_date_code_sales = 'd_1'
end_date_code_sales = 'd_1941'

print('start_date_code_sales: ', start_date_code_sales)
print('end_date_code_sales: ', end_date_code_sales)

# AQUÍ SE PUEDE VER QUE HASTA EL DÍA 1941 HAY DATOS. LUEGO DE ESO NO HAY MÁS DATOS

start_date_code_sales:  d_1
end_date_code_sales:  d_1941

**PARA ENTRENAR HAY QUE USAR 1941 DÍAS - HORIZONTE DE FORECAST PARA PODER TENER DATOS CON QUÉ COMPARAR. 1941 - 28**

### 3. Revisar dataframe calender

In [11]:
df_calender.head()

,date,wm_yr_wk,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,d_integer
0,2011-01-29,11101,d_1,nan,nan,nan,nan,0,0,0,1
1,2011-01-30,11101,d_2,nan,nan,nan,nan,0,0,0,2
2,2011-01-31,11101,d_3,nan,nan,nan,nan,0,0,0,3
3,2011-02-01,11101,d_4,nan,nan,nan,nan,1,1,0,4
4,2011-02-02,11101,d_5,nan,nan,nan,nan,1,0,1,5

In [12]:
# explorar posibles valores en las columnas asociadas a eventos

list_columns_event = ['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'] # guardado para que exista la posiblidad de tener 2 eventos en un día

for index_col_event in list_columns_event:
    list_unique_values = df_calender[index_col_event].cat.categories.unique()
    print('\n' + index_col_event)
    print(list_unique_values)

event_name_1
Index(['Chanukah End', 'Christmas', 'Cinco De Mayo', 'ColumbusDay', 'Easter',
       'Eid al-Fitr', 'EidAlAdha', 'Father's day', 'Halloween',
       'IndependenceDay', 'LaborDay', 'LentStart', 'LentWeek2',
       'MartinLutherKingDay', 'MemorialDay', 'Mother's day', 'NBAFinalsEnd',
       'NBAFinalsStart', 'NewYear', 'OrthodoxChristmas', 'OrthodoxEaster',
       'Pesach End', 'PresidentsDay', 'Purim End', 'Ramadan starts',
       'StPatricksDay', 'SuperBowl', 'Thanksgiving', 'ValentinesDay',
       'VeteransDay', 'nan'],
      dtype='object')

event_type_1
Index(['Cultural', 'National', 'Religious', 'Sporting', 'nan'], dtype='object')

event_name_2
Index(['Cinco De Mayo', 'Easter', 'Father's day', 'OrthodoxEaster', 'nan'], dtype='object')

event_type_2
Index(['Cultural', 'Religious', 'nan'], dtype='object')

In [13]:
# revisar columnas SNAP
# https://www.kaggle.com/code/timetraveller98/m5-snap-categorical-feature-analysis

# total de snap igual a 1
total_snap_CA = df_calender['snap_CA'].sum()
total_snap_TX = df_calender['snap_TX'].sum()
total_snap_WI = df_calender['snap_WI'].sum()

print('total_snap_CA: ', total_snap_CA)
print('total_snap_TX: ', total_snap_TX)
print('total_snap_WI: ', total_snap_WI)


# contar días en que hay 2 snap igual a 1
mask_snap_ca_tx = (df_calender['snap_CA'] == 1) & (df_calender['snap_TX'] == 1)
mask_snap_ca_wi = (df_calender['snap_CA'] == 1) & (df_calender['snap_WI'] == 1)
mask_snap_tx_wi = (df_calender['snap_TX'] == 1) & (df_calender['snap_WI'] == 1)
mask_snap_ca_tx_wi = (df_calender['snap_CA'] == 1) & (df_calender['snap_TX'] == 1) & (df_calender['snap_WI'] == 1)

total_snap_ca_tx = df_calender[mask_snap_ca_tx]['snap_CA'].sum()
total_snap_ca_wi = df_calender[mask_snap_ca_wi]['snap_CA'].sum()
total_snap_tx_wi = df_calender[mask_snap_tx_wi]['snap_TX'].sum()
total_snap_ca_tx_wi = df_calender[mask_snap_ca_tx_wi]['snap_CA'].sum()

print('\ntotal_snap_ca_tx: ', total_snap_ca_tx)
print('total_snap_ca_wi: ', total_snap_ca_wi)
print('total_snap_tx_wi: ', total_snap_tx_wi)
print('total_snap_ca_tx_wi: ', total_snap_ca_tx_wi)

total_snap_CA:  650
total_snap_TX:  650
total_snap_WI:  650

total_snap_ca_tx:  390
total_snap_ca_wi:  390
total_snap_tx_wi:  455
total_snap_ca_tx_wi:  260

### 4. Revisar dataframe prices

In [14]:
df_prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [15]:
# store id unicos (en total son 10)
shape_unique_store_id = df_prices['store_id'].cat.categories.unique().shape[0]
list_unique_store_id = df_prices['store_id'].cat.categories.unique()

print('shape_unique_store_id: ', shape_unique_store_id)
print('\nlist_unique_store_id: ', list_unique_store_id)

shape_unique_store_id:  10

list_unique_store_id:  Index(['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1', 'WI_2',
       'WI_3'],
      dtype='object')

In [16]:
# revisar item_id unicos ()
shape_unique_item_id = df_prices['item_id'].cat.categories.unique().shape[0]
list_unique_item_id = df_prices['item_id'].cat.categories.unique()

print('shape_unique_item_id: ', shape_unique_item_id)
print('\nlist_unique_item_id: ', list_unique_item_id)

shape_unique_item_id:  3049

list_unique_item_id:  Index(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', 'HOBBIES_1_004',
       'HOBBIES_1_005', 'HOBBIES_1_006', 'HOBBIES_1_007', 'HOBBIES_1_008',
       'HOBBIES_1_009', 'HOBBIES_1_010',
       ...
       'FOODS_3_818', 'FOODS_3_819', 'FOODS_3_820', 'FOODS_3_821',
       'FOODS_3_822', 'FOODS_3_823', 'FOODS_3_824', 'FOODS_3_825',
       'FOODS_3_826', 'FOODS_3_827'],
      dtype='object', length=3049)

**recordar que sell_price está a nivel semanal. ADEMÁS el precio está POR PRODUCTO Y POR TIENDA (item_id - store_id)**

In [17]:
# print cuantas observaciones hay de cada item_id
df_prices['item_id'].value_counts()

item_id
FOODS_1_178        2820
FOODS_3_692        2820
HOUSEHOLD_1_129    2820
FOODS_1_172        2820
FOODS_1_174        2820
                   ...
HOUSEHOLD_1_308     642
HOUSEHOLD_1_159     623
HOUSEHOLD_1_242     600
FOODS_3_296         592
FOODS_2_379         530
Name: count, Length: 3049, dtype: int64

### 5. Revisar dataframe con ventas - series a forecastear

In [18]:
df_sales.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0

In [19]:
# revisar "item_id" unicos
shape_unique_item_id = df_sales['item_id'].cat.categories.unique().shape[0]
list_unique_item_id = df_sales['item_id'].cat.categories.unique()

print('shape_unique_item_id: ', shape_unique_item_id)
print('\nlist_unique_item_id: ', list_unique_item_id)

shape_unique_item_id:  3049

list_unique_item_id:  Index(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', 'HOBBIES_1_004',
       'HOBBIES_1_005', 'HOBBIES_1_006', 'HOBBIES_1_007', 'HOBBIES_1_008',
       'HOBBIES_1_009', 'HOBBIES_1_010',
       ...
       'FOODS_3_818', 'FOODS_3_819', 'FOODS_3_820', 'FOODS_3_821',
       'FOODS_3_822', 'FOODS_3_823', 'FOODS_3_824', 'FOODS_3_825',
       'FOODS_3_826', 'FOODS_3_827'],
      dtype='object', length=3049)

In [20]:
# revisar "store_id" unicos
shape_unique_store_id = df_sales['store_id'].cat.categories.unique().shape[0]
list_unique_store_id = df_sales['store_id'].cat.categories.unique()

print('shape_unique_store_id: ', shape_unique_store_id)
print('\nlist_unique_store_id: ', list_unique_store_id)

shape_unique_store_id:  10

list_unique_store_id:  Index(['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1', 'WI_2',
       'WI_3'],
      dtype='object')

**se puede ver que existe una columna "id" el cual se construye a partir de las columnas "item_id" y "store_id" (las mismas columnas mencionadas en el dataframe con los precios)**

valores únicos de cada producto en cada tienda

In [21]:
# revisar cantidad de "id" unicos
shape_unique_id = df_sales['id'].cat.categories.unique().shape[0]
list_unique_id = df_sales['id'].cat.categories.unique()

print('shape_unique_id: ', shape_unique_id)
print('\nlist_unique_id: ', list_unique_id)

print('\ncalculo multiplicar productos unicos por tienda: ', shape_unique_item_id * shape_unique_store_id)

shape_unique_id:  30490

list_unique_id:  Index(['HOBBIES_1_001_CA_1_evaluation', 'HOBBIES_1_002_CA_1_evaluation',
       'HOBBIES_1_003_CA_1_evaluation', 'HOBBIES_1_004_CA_1_evaluation',
       'HOBBIES_1_005_CA_1_evaluation', 'HOBBIES_1_006_CA_1_evaluation',
       'HOBBIES_1_007_CA_1_evaluation', 'HOBBIES_1_008_CA_1_evaluation',
       'HOBBIES_1_009_CA_1_evaluation', 'HOBBIES_1_010_CA_1_evaluation',
       ...
       'FOODS_3_818_WI_3_evaluation', 'FOODS_3_819_WI_3_evaluation',
       'FOODS_3_820_WI_3_evaluation', 'FOODS_3_821_WI_3_evaluation',
       'FOODS_3_822_WI_3_evaluation', 'FOODS_3_823_WI_3_evaluation',
       'FOODS_3_824_WI_3_evaluation', 'FOODS_3_825_WI_3_evaluation',
       'FOODS_3_826_WI_3_evaluation', 'FOODS_3_827_WI_3_evaluation'],
      dtype='object', length=30490)

calculo multiplicar productos unicos por tienda:  30490

**SE PUEDE VER QUE EN TOTAL HAY 30K DE SERIES A FORECASTEAR (30490)**

In [22]:
# revisar "dept_id" unicos. podría ser usada como variable exógena
shape_unique_dept_id = df_sales['dept_id'].cat.categories.unique().shape[0]
list_unique_dept_id = df_sales['dept_id'].cat.categories.unique()

print('shape_unique_dept_id: ', shape_unique_dept_id)
print('\nlist_unique_dept_id: ', list_unique_dept_id)

shape_unique_dept_id:  7

list_unique_dept_id:  Index(['HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2', 'FOODS_1',
       'FOODS_2', 'FOODS_3'],
      dtype='object')

In [23]:
# revisar "cat_id" unicos. podría ser usada como variable exógena
shape_unique_cat_id = df_sales['cat_id'].cat.categories.unique().shape[0]
list_unique_cat_id = df_sales['cat_id'].cat.categories.unique()

print('shape_unique_cat_id: ', shape_unique_cat_id)
print('\nlist_unique_cat_id: ', list_unique_cat_id)

shape_unique_cat_id:  3

list_unique_cat_id:  Index(['HOBBIES', 'HOUSEHOLD', 'FOODS'], dtype='object')

In [24]:
# revisar "state_id" unicos. podría ser usada como variable exógena
shape_unique_state_id = df_sales['state_id'].cat.categories.unique().shape[0]
list_unique_state_id = df_sales['state_id'].cat.categories.unique()

print('shape_unique_state_id: ', shape_unique_state_id)
print('\nlist_unique_state_id: ', list_unique_state_id)

shape_unique_state_id:  3

list_unique_state_id:  Index(['CA', 'TX', 'WI'], dtype='object')

### 6. Revisar sample output

In [25]:
df_sample_output.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# revisar todas las series únicas que se identifican
shape_unique_id = df_sample_output['id'].unique().shape[0]
list_unique_id = df_sample_output['id'].unique()

print('shape_unique_id: ', shape_unique_id)
print('\nlist_unique_id: ', list_unique_id)

shape_unique_id:  60980

list_unique_id:  ['HOBBIES_1_001_CA_1_validation' 'HOBBIES_1_002_CA_1_validation'
 'HOBBIES_1_003_CA_1_validation' ... 'FOODS_3_825_WI_3_evaluation'
 'FOODS_3_826_WI_3_evaluation' 'FOODS_3_827_WI_3_evaluation']

In [27]:
shape_unique_id / 2

30490.0

**SE PUEDE VER QUE EL FORMATO DE OUTPUT HAY 2 ENTREGABLES, FORECAST DEL PRIMER MES QUE SE CONOCEN EL TRUE Y SE UTILIZA PARA VER QUÉ TAN BUENO ES EL MODELO. Y EL SEGUNDO MES ERA EL TRUE DESCONOCIDO QUE SE USABA PARA GENERAR EL RANKING PUBLICO**

In [28]:
# El resultado es consistente, hay 30490 series

In [29]:
# ahora falta ver, de estas series cuantos son nulos, rellenar con zeros asumiendo que no hubo ventas esos días y ver 
# cuando comienza cada serie